.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    position: sticky;
    top: 0px;
}

.navbarLogo {
    font-size: 24px;
    font-weight: bold;
    width: 20%;
    display: flex;
}

.navbarSearch {
    width: 60%;
    display: flex;
    justify-content: center;
}

.navbarSearch input {
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    width: 200px;
}

.navbarMenu {
    cursor: pointer;
    width: 20%;
    display: flex;
    flex-direction: row-reverse;
}

.hamburgerIcon div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
}

.mobileMenu {
    display: none;
    position: absolute;
    top: 50px;
    right: 20px;
    background-color: #333;
    padding: 10px;
    border-radius: 5px;
}

.mobileMenu.open {
    display: block;
}

.mobileMenu ul {
    list-style: none;
    padding: 0;
}

.mobileMenu ul li {
    margin: 10px 0;
}
